body{
    margin: 0;
    padding: 0;
}

.header{
    background: #1d1145;
    color: #f2a1a1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 1.5rem;
}

.heading{
    font-weight: bold;
    margin: 0 auto;
    padding: 1rem;
    box-shadow: none;
}

.icons{
    align-self: center;
    font-size: 2.5rem;
    margin: 0 auto;
    padding: 1rem;
}

.icon{
    padding:0  .75rem;
}

h1{
    font-family: 'Sriracha', cursive;
    font-size: 2rem;
}

.container{
    background: #f2a1a1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
}

.center{
    margin: 0 auto;
    height: 60%;
    width: 80%;
}

.form-group {
    background: #1d1145;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 2.5rem;
}

label{
    color: #e76d89;
    font-family: 'Sriracha', cursive;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

input{
    border: 4px solid #1d1145;
    font-size: 2.5rem;
    height: 40px;
    margin: .5rem auto;
    text-align: right;
    width: 85%;
}

button{
    background: #e76d89;
    border-radius: 5px;
    color: #1d1145;
    font-size: 20px;
    font-weight: bold;
    height: 32px;
    margin: 0 auto;
    width: 90%;
}

@media screen and (min-width: 768px){
    .heading{
        margin-left: 0;
    }

    .icons{
        margin-right: 0;
    }

    .container{
        height: 600px;
        margin: 0 auto;
        width: 100%;
    }

    .center{
        height: 60%;
        width: 50%;
    }

    .form-group{
        flex-direction: row;
    }

    label{
        width: 70%;
        margin-right: 0;
    }

    input{
        color: #1d1145;
        margin-left: 0;
        width: 25%;
    }
    
    button{
        width: 50%;
    }
}

@media screen and (min-width: 992px){
    h1{
        font-size: 3rem;
    }

    .icons{
        font-size: 3rem;
    } 

    .center{
        width: 35%;
    }
  
}