.container{
    margin: 0 auto;
    width: 800px;
}

.word{
    display: block;
    min-width: 100%;
    margin-top: 5rem;
}

.blank{
    background: #f1f1f1;
    border: 2px solid black;
    border-radius: 10%;
    display: inline-block;
    font-size: 4rem;
    line-height: 6rem;
    width: 50px;
    margin: 2px;
    padding-bottom: 0;
    text-align: center;
}