.header{
    background: #003f5c;
    display: grid;
    grid-template-columns: 12fr;
}

.heading{
    color: #f1f1f1;
    font-size: 1.5rem;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon{
    color: #f1f1f1;
    margin: 0 0.5rem;
}

.game-container{
    background: url('../img/brain.jpg') center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}


.word-container{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
}

.word{
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: center;
    margin-top: 3rem;
    margin: 3rem auto 0 auto;
    width: 90vw;
    text-align: center;
}

.person-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin: 0 auto;
    width: 90%;
}

#man{
    border: 2px solid #003f5c;
}

.score{
    font-size: 18px;
    color: #003f5c;
    font-weight: bold;
    line-height: 50px;
}

.keyboard{
    background:#58508d;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    width: 95%;
}

.key{
    background: #003f5c;
    border: 2px solid #bc5090;
    border-radius: 25%;
    font-size: 1.5rem;
    font-weight: bold;
    height: 2rem;
    line-height: 2rem;
    margin: .2rem .1rem;
    text-align: center;
    width: 2rem;
    color: #f1f1f1;
}

.empty{
    width: 1rem;
}

.chosen{
    background: black;
    /* border-color: black; */
}

.blank{
    border-bottom: 1px solid #1f1f1f;
    height: 3rem;
    margin: 8px;
    width: 3rem;
}
 
.letterColour{
    color: black;
    font-size: 2.5rem;
    animation-name: backInUp;
    animation-duration: 1s;
}
 
/*************************Media Queries*/
@media screen and (min-width: 768px){
    .header{
        grid-template-columns: 6fr 6fr;
    }

    .heading{
        padding-left: 1rem;
    }

    .icons{
        font-size: 2rem;
        justify-content: flex-end;
        padding: 2rem;
    }

    .word-container{
        display: flex;
        flex-wrap: wrap;
        width: 85%;
        margin: 0 auto;
    }

    .person-container{
        width: 30%;
    }

    .keyboard{
        border-top-right-radius: 2%;
        border-bottom-left-radius: 2%;
        border-bottom-left-radius: 15%;
        border-bottom-right-radius: 15%;
        margin: 2rem auto;
        padding: 1rem .5rem;
        width: 85%;
    }

    .key{
        box-shadow: 3px 2px 3px 2px #bc5090;
        height: 2.5rem;
        line-height: 2.5rem;
        width: 2.5rem;
        font-size: 2rem;
        margin: .2rem;
    }

    .empty{
        width: 2rem;
    }

    .chosen{
        box-shadow: none;
    }
}

/***********************************Media Query for iPad Pro and Google Nexus Tablet*/
@media screen and (min-width: 769px) and (max-width: 810px){
    /******************Nexus 10*/
    .keyboard{
        width: 80%;
    }
}

@media screen and (min-width: 810px) and (max-width: 992px){
    /*******************iPad Pro 10.5*/
    .keyboard{
        width: 75%;
    }
}

@media screen and (min-width: 992px){    
    .icons{
        margin-right: 0;
    }

    .game-container{
        padding: 2rem;
        width: 90%;
    }

  .word-container{
      display: flex;
      flex-wrap: wrap;
      width: 60%;
  }

  .word{
      margin-bottom: 4rem;
  }

  .blank{
    font-size: 3rem;
    height: 4rem;
    line-height: 4rem;
    margin-bottom: 4rem;
  }

  .person{
      margin-left: 1rem;
      width: 30%;
  }

  .keyboard{
      margin: 0  auto;
      width: 85%;
  }

    .key{
        font-size: 2rem;
        height: 3rem;
        line-height: 3rem;
        margin: .25rem;
        text-align: center;
        width: 3rem;
    }
}
