.container{
    margin: 0 auto;
    max-width: 100%;
}

.word{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 5rem auto;
}

.blank{
    background: #f1f1f1;
    border: 2px solid black;
    border-radius: 10%;
    display: inline-block;
    font-size: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    width: 2.5rem;
    margin: 2px;
    padding-bottom: 0;
    text-align: center;
}

.letters{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 3rem auto;
    max-width: 95%;
}

.letter{
    height: 35px;
    width: 35px;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 2rem;
    line-height: 2rem;
    margin: .5rem;
    text-align: center;
}

/*************************Media Queries*/
@media screen and (min-width: 768px){
    .container{
        background: #3f3f3f;
        margin: 2rem auto;
        padding: 3rem;
    }
    
    .word{
        background: purple;
        width: 60%;
    }

    .letters{
        width: 75%;
    }

    .letter{
        background: pink;
        height: 50px;
        width: 50px;
    }
}

@media screen and (min-width: 992px){
  .container{
      width: 70%;
  }

  .letters{
      width: 55%;
  }

  .letter{
    background: pink;
    height: 50px;
    line-height: 3rem;
    width: 50px;
    }
}